# Gitignore template from random ahh repo
.env
myvenv/
env/
ENV/
env.bak/
venv.bak/

__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.Python
build/
dist/

data/
output/
downloads/
logs/
*.log
*.csv
*.json
*.sqlite
*.db

.DS_Store
.Thumbs.db

.mypy_cache/
.dmypy.json
dmypy.run

.ipynb_checkpoints

.idea/
.vscode/
*.swp
